:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    --circle: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --Weight-1:500;
    --Weight-2:700;
    --Weight-3:800;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif; 
    font-size: 1.12 rem;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    width: 100%;
    max-width:700px;
    display: flex;
    gap:1rem;
}

.left{
    width:100%;
    max-width: 360px;
    text-align: center;
    padding:1rem;
    color: var(--Pale-blue);
    background: var(--background);
    border-radius: 2rem;
}

.left > p{
    margin:1rem auto;
}

.result{
    display: inline-block;
    width:100px;
    height:100px;
    margin:1rem auto;
    padding: 2rem;
    border-radius: 50%;
    background: var(--circle);
}


.big-white{
    color: var(--White);
    font-size: 3rem;
}

.right{
    width:100%;
    max-width: 360px;
    padding:1rem;

}

.right > p{
    color:var(--Dark-gray-blue);
    font-weight: var(--Weight-3);
}

.block{
    margin:1.5rem auto;
    padding:1rem;
    height:1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: var(--Weight-3);
}

.block > .section{
    display: flex;
    gap:1rem;
}

.block > .mark{
    color:var(--Light-lavender);
    font-weight: var(--Weight-3);
}

.mark > span{
    color:var(--Dark-gray-blue);
}

#red{
    color:var(--Light-red);
    background: color-mix(in srgb, var(--White) 100%, var(--Light-red) 10%);
}

#yellow{
    color:var(--Orangey-yellow);
    background: color-mix(in srgb, var(--White) 100%, var(--Orangey-yellow) 10%);
}

#green{
    color:var(--Green-teal);
    background: color-mix(in srgb, var(--White) 100%, var(--Green-teal) 10%);
}
#blue{
    color:var(--Cobalt-blue);
    background: color-mix(in srgb, var(--White) 100%, var(--Cobalt-blue) 10%);
}
button{
    width: 100%;
    height:2.75rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    border:none;
    color:var(--White);
    background: var(--Dark-gray-blue);
}

button:hover{
    background: var(--background);
}


@media screen and (max-width:450px) {
    body{
        min-height: 10vh;
        margin: 0 !important;
        padding: 0 !important;
    }
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .left{
        display: flex;
        flex-direction: column;
    }
    
}
